@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import "./base/reset";

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/breakpoints";

@import "./base/typography";

@import "./layout/header";
@import "./layout/footer";

@import "./components/animation-like";
@import "./components/animation-menu-check";
@import "./components/animation-menu-entrance";
@import "./components/buttons";
@import "./components/loader";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    padding-top: $height-adapter;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
