.footer {

    @include flexbox($align-items: flex-start);
    background-color: #323232;
    color: $colour-light;

    &__title {

        @include desktop {
            padding: 20px;
        }

        font-size: $fontsize--regular + 0.4;
        font-family: $font--text-secondary;
        padding: $padding-regular;
        margin: 0;
    }
    
    &__list {

        @include desktop {
            padding: 20px;
        }

        padding: 0 0 0 20px;
        margin: 0 0 20px 0;
    }

    &__item {
        margin-bottom: 10px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__icon {
        margin-right: 10px;
    }

    &__icon-second-element {
        margin-right: 3px;
    }

    &__link {
        &:hover {
            color: $colour-secondary;
        }
    }
}