@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* Colors */
/* Fonts Family */
/* General */
/* Utils */
/* Fonts Size */
/* Heading marge */
/* Reset base on the header size */
/* Flexbox Mixin */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  margin: 9px 0 4px 0;
}

h2, h3 {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: column;
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.5);
  position: fixed;
  z-index: 6;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: no-wrap;
  flex-direction: column;
  background-color: #323232;
  color: #ffffff;
}
.footer__title {
  font-size: 1.4rem;
  font-family: "Shrikhand", cursive;
  padding: 20px;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .footer__title {
    padding: 20px;
  }
}
.footer__list {
  padding: 0 0 0 20px;
  margin: 0 0 20px 0;
}
@media screen and (min-width: 1024px) {
  .footer__list {
    padding: 20px;
  }
}
.footer__item {
  margin-bottom: 10px;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__icon {
  margin-right: 10px;
}
.footer__icon-second-element {
  margin-right: 3px;
}
.footer__link:hover {
  color: #FF79DA;
}

.heart {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heart {
    right: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .heart {
    right: 65px;
  }
}
.heart__filled {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.2s ease-in-out;
}
.heart__filled:hover {
  opacity: 1;
}

.menu-detail-content__check {
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  color: #ffffff;
  display: inline-block;
  height: 84px;
  transition: all 0.3s ease-out;
  width: 0px;
  position: relative;
}
.menu-detail-content__check .fa-circle-check {
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(50%, -50%) rotate(0turn);
}
.menu-detail-content__container {
  overflow: hidden;
}
.menu-detail-content__container:hover .menu-detail-content__check {
  width: 65px;
}
.menu-detail-content__container:hover .fa-circle-check {
  transform: translate(-50%, -50%) rotate(1turn);
  transition: all 0.3s ease-in-out;
  animation-delay: 0.1s;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: column;
  border-radius: 35px;
  padding: 0 20px;
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9256dc);
  min-width: 150px;
}
.button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

/* Title: Loader page Transition from appear to disappear
 * Description: Timeline for the fade transition, with 3 checkpoints, first display the item, second keep displaying item
 * and add transition for the last step, and last step for put the opacity to 0 and make sure through the z index that the
 * item doesn't cause any issues.
*/
@keyframes fadeTransition {
  0% {
    opacity: 1;
    display: block;
  }
  80% {
    opacity: 1;
    transition: ease-out;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/* Title: Loader rotation animation
 * Description: spin effect to the loader item with checkpoints
 *
*/
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Title: Loader page
 * Description: main properties for the loader container
 *
*/
.container-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: row;
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0px;
  left: 0px;
  background: linear-gradient(#9256dc, #ff79da);
  animation: fadeTransition 4s forwards;
}

/* Title: Loader full item
 * Description: Loader content with the loader size and all dots that constitute de loader
 *
*/
.loader {
  /* Loader size */
  width: 80px;
  height: 80px;
}
.loader__item {
  /* Rotation, timer, animation shape */
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loader__item:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.loader__item:nth-child(1) {
  animation-delay: -0.036s;
}
.loader__item:nth-child(1):after {
  background-color: #99E2D0;
  top: 63px;
  left: 63px;
}
.loader__item:nth-child(2) {
  animation-delay: -0.072s;
}
.loader__item:nth-child(2):after {
  background-color: #99E2D0;
  top: 68px;
  left: 56px;
}
.loader__item:nth-child(3) {
  animation-delay: -0.108s;
}
.loader__item:nth-child(3):after {
  background-color: #99E2D0;
  top: 71px;
  left: 48px;
}
.loader__item:nth-child(4) {
  animation-delay: -0.144s;
}
.loader__item:nth-child(4):after {
  background-color: #99E2D0;
  top: 72px;
  left: 40px;
}
.loader__item:nth-child(5) {
  animation-delay: -0.18s;
}
.loader__item:nth-child(5):after {
  background-color: #99E2D0;
  top: 71px;
  left: 32px;
}
.loader__item:nth-child(6) {
  animation-delay: -0.216s;
}
.loader__item:nth-child(6):after {
  background-color: #99E2D0;
  top: 68px;
  left: 24px;
}
.loader__item:nth-child(7) {
  animation-delay: -0.252s;
}
.loader__item:nth-child(7):after {
  background-color: #99E2D0;
  top: 63px;
  left: 17px;
}
.loader__item:nth-child(8) {
  animation-delay: -0.288s;
}
.loader__item:nth-child(8):after {
  background-color: #99E2D0;
  top: 56px;
  left: 12px;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

main {
  padding-top: 60px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: row;
  font-size: font--text-regular;
  font-weight: bold;
  background-color: #E5E5E5;
}
.location__icon {
  margin-right: 10px;
}
.location__city {
  height: 51px;
  padding: 0;
  text-align: center;
  background: #E5E5E5;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.location__city::-webkit-input-placeholder {
  color: #5D5D5D;
}
.location__city:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}
.location__city::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
.location__city:-ms-input-placeholder {
  color: #000000;
}

.informations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
}
.informations__text {
  margin: 0 0 30px 0;
  font-size: 1.1rem;
  color: #717171;
}
.informations__button {
  margin-bottom: 30px;
}

.working {
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .working {
    padding: unset;
    margin: 30px;
  }
}
.working .working-list {
  margin: 30px 0 0 0;
  padding: 0;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .working .working-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: no-wrap;
    flex-direction: row;
  }
}
.working .working-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: row;
  border-radius: 15px;
  margin: 0 0 20px 10px;
  padding: 0 30px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.2);
}
.working .working-list__item:hover {
  background-color: #f1eafb;
}
@media screen and (min-width: 1024px) {
  .working .working-list__item {
    justify-content: flex-end;
    width: 40%;
    position: relative;
    margin: 10px;
  }
  .working .working-list__item:nth-child(1) {
    margin-left: 0;
  }
  .working .working-list__item:nth-child(3) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .working .working-list__item {
    padding: 0 50px;
  }
}
.working .working-list__text {
  margin-left: 20px;
  font-size: 0.9rem;
}
.working .working-list__stepnumber {
  position: absolute;
  left: 10px;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: column;
  border-radius: 100%;
  color: #ffffff;
  width: 25px;
  height: 25px;
  background: linear-gradient(#FF79DA, #9256dc);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .working .working-list__stepnumber {
    width: 30px;
    height: 46px;
    border-radius: 15px 0 0 15px;
    left: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .working .working-list__stepnumber {
    width: 30px;
    height: 46px;
    border-radius: 15px 0 0 15px;
    left: 15px;
  }
}
.working .working-list__icon {
  position: absolute;
  left: 18%;
  color: rgb(128, 128, 128);
  transform: translate(-50%);
}
@media screen and (min-width: 1024px) {
  .working .working-list__icon {
    position: unset;
    left: 60px;
  }
}

.restaurants {
  background-color: #f4f4f4;
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants .restaurant {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, auto));
    grid-column-gap: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants .restaurant__card {
    grid-column-end: span 6;
  }
}
.restaurants .restaurant__card .card {
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.5);
  margin: 20px 0;
  position: relative;
  height: 250px;
  border-radius: 20px;
  background-color: white;
}
.restaurants .restaurant__card .card:hover {
  transform: scale(1.03);
}
.restaurants .restaurant__card .card img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 70%;
  border-radius: 20px 20px 0 0;
  border: none;
}
.restaurants .restaurant__card .card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: row;
  width: 90%;
  margin: auto;
}
.restaurants .restaurant__card .card__description .new-label {
  position: absolute;
  top: 0;
  right: 15px;
  background-color: #99E2D0;
  padding: 6px 12px 6px 12px;
  border-radius: 2px;
  font-weight: bold;
  color: #2c9c81;
}
.restaurants .restaurant__card .card__restaurant-name {
  font-size: 1.2rem;
  margin: 6px 0 6px 0;
}
.restaurants .restaurant__card .card__restaurant-location {
  color: #717171;
  margin: 0;
}

/*# sourceMappingURL=home.css.map */
