@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* Colors */
/* Fonts Family */
/* General */
/* Utils */
/* Fonts Size */
/* Heading */
/* Reset base on the header size */
/* Flexbox Mixin */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  margin: 9px 0 4px 0;
}

/* 

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
} */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.5);
  position: fixed;
  z-index: 6;
  width: 100%;
  background-color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 35px;
  padding: 0 20px;
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9256dc);
  min-width: 150px;
}
.button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

/* Loader page Transition from appear to disappear */
@keyframes fadeTransition {
  0% {
    opacity: 1;
    display: block;
  }
  80% {
    opacity: 1;
    transition: ease-out;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/* Loader rotation animation */
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loader page */
.container-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0px;
  left: 0px;
  background: linear-gradient(#9256dc, #ff79da);
  animation: fadeTransition 4s forwards;
}

/* Loader full item */
.loader {
  /* display: inline-block;
  position: relative; */
  width: 80px;
  height: 80px;
}
.loader__item {
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loader__item:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.loader__item:nth-child(1) {
  animation-delay: -0.036s;
}
.loader__item:nth-child(1):after {
  background-color: #99E2D0;
  top: 63px;
  left: 63px;
}
.loader__item:nth-child(2) {
  animation-delay: -0.072s;
}
.loader__item:nth-child(2):after {
  background-color: #99E2D0;
  top: 68px;
  left: 56px;
}
.loader__item:nth-child(3) {
  animation-delay: -0.108s;
}
.loader__item:nth-child(3):after {
  background-color: #99E2D0;
  top: 71px;
  left: 48px;
}
.loader__item:nth-child(4) {
  animation-delay: -0.144s;
}
.loader__item:nth-child(4):after {
  background-color: #99E2D0;
  top: 72px;
  left: 40px;
}
.loader__item:nth-child(5) {
  animation-delay: -0.18s;
}
.loader__item:nth-child(5):after {
  background-color: #99E2D0;
  top: 71px;
  left: 32px;
}
.loader__item:nth-child(6) {
  animation-delay: -0.216s;
}
.loader__item:nth-child(6):after {
  background-color: #99E2D0;
  top: 68px;
  left: 24px;
}
.loader__item:nth-child(7) {
  animation-delay: -0.252s;
}
.loader__item:nth-child(7):after {
  background-color: #99E2D0;
  top: 63px;
  left: 17px;
}
.loader__item:nth-child(8) {
  animation-delay: -0.288s;
}
.loader__item:nth-child(8):after {
  background-color: #99E2D0;
  top: 56px;
  left: 12px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: font--text-regular;
  font-weight: bold;
  background-color: #E5E5E5;
}
.location__icon {
  margin-right: 20px;
}

.informations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
}
.informations__title {
  margin: 12px 25px 12px 25px;
}
.informations__text {
  margin: 0 0 30px 0;
  font-size: 1.1rem;
  color: #717171;
}
.informations__button {
  margin-bottom: 30px;
}

.working {
  padding: 20px;
}
.working .working-list {
  margin: 30px 0 0 0;
  padding: 0;
  position: relative;
}
.working .working-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 15px;
  margin: 0 0 20px 10px;
  padding: 0 40px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.2);
}
.working .working-list__text {
  margin-left: 20px;
  font-size: 0.9rem;
}
.working .working-list__stepnumber {
  position: absolute;
  left: 10px;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100%;
  color: #ffffff;
  width: 25px;
  height: 25px;
  background: linear-gradient(#FF79DA, #9256dc);
}
.working .working-list__icon {
  position: absolute;
  left: 18%;
  color: rgb(128, 128, 128);
  transform: translate(-50%);
}

main {
  padding-top: 60px;
}

/*# sourceMappingURL=style.css.map */
