/* Title: Loader page Transition from appear to disappear
 * Description: Timeline for the fade transition, with 3 checkpoints, first display the item, second keep displaying item
 * and add transition for the last step, and last step for put the opacity to 0 and make sure through the z index that the
 * item doesn't cause any issues.
*/
@keyframes fadeTransition {
   0% {
       opacity: 1;
       display: block;
   }

   80% {
       opacity: 1;
       transition: ease-out;
   }

   100% {
       opacity: 0;
       z-index: -1;
   }
}

/* Title: Loader rotation animation
 * Description: spin effect to the loader item with checkpoints
 *
*/
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Title: Loader page
 * Description: main properties for the loader container
 *
*/
.container-loader {
    @include flexbox($justify-content: center, $align-items: center, $flex-direction: row);
    z-index: 999;
    position: fixed;
    height: 100%;
    width: 100vw;
    top: 0px;
    left: 0px;
    background: linear-gradient(rgba($colour-primary, 1), rgba($colour-secondary, 1)) ;
    animation: fadeTransition 4s forwards;
}

/* Title: Loader full item
 * Description: Loader content with the loader size and all dots that constitute de loader
 *
*/
.loader {
    /* Loader size */
    width: 80px;
    height: 80px;

    &__item {
        /* Rotation, timer, animation shape */
        animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;

        &:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #fff;
            margin: -4px 0 0 -4px;
        }

        &:nth-child(1) {
            animation-delay: -0.036s;

            &:after {
                background-color: #99E2D0;
                top: 63px;
                left: 63px;
            }
        }

        &:nth-child(2) {
            animation-delay: -0.072s;

            &:after {
                background-color: #99E2D0;
                top: 68px;
                left: 56px;
            }
        }

        &:nth-child(3) {
            animation-delay: -0.108s;

            &:after {
                background-color: #99E2D0;
                top: 71px;
                left: 48px;
            }
        }

        &:nth-child(4) {
            animation-delay: -0.144s;

            &:after {
                background-color: #99E2D0;
                top: 72px;
                left: 40px;
            }
        }

        &:nth-child(5) {
            animation-delay: -0.18s;

            &:after {
                background-color: #99E2D0;
                top: 71px;
                left: 32px;
            }
        }

        &:nth-child(6) {
            animation-delay: -0.216s;

            &:after {
                background-color: #99E2D0;
                top: 68px;
                left: 24px;
            }
        }

        &:nth-child(7) {
            animation-delay: -0.252s;

            &:after {
                background-color: #99E2D0;
                top: 63px;
                left: 17px;
            }
        }

        &:nth-child(8) {
            animation-delay: -0.288s;

            &:after {
                background-color: #99E2D0;
                top: 56px;
                left: 12px;
            }
        }
    }
}
