body {
    font-family: $font--text-regular;
    font-size: $fontsize--regular;
}
h1 {
    font-family: $font--text-secondary;
    font-size: $fontsize--heading-1;
    margin: $margin--heading-1;
}
h2 {
    font-family: $font--text-regular;
}
h3 {
    font-family: $font--text-secondary;
}
