body {
    font-family: $font--text-regular;
    font-size: $fontsize--regular;
}
h1 {
    font-family: $font--text-secondary;
    font-size: $fontsize--heading-1;
    margin: $margin--heading-1;
}
/* 

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
} */