/* Colors */
$colour-primary: #9256dc;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-fourthary: #717171;
$colour-background: #f4f4f4;
$colour-background-secondary: #E5E5E5;
$colour-light: #ffffff;

/* Fonts Family */
$font--text-regular: 'Roboto', sans-serif;
$font--text-secondary: 'Shrikhand', cursive;

/* General */
$padding-regular: 20px;
$margin-large: 60px;

/* Utils */
$boxshadow--card: 0px 4px 4px rgb(128, 128, 128, 0.2);

/* Fonts Size */
$fontsize--regular: 1rem;
$fontsize--middle: 0.9rem;

$size--heart: $fontsize--regular + 0.6rem;

$fontsize--description: $fontsize--regular + 0.1;

$fontsize--heading-1: $fontsize--regular + 1; 
$fontsize--heading-1-small: $fontsize--regular + 0.7;

$fontsize--heading-2: $fontsize--regular + 0.5; 
$fontsize--heading-2-small: $fontsize--regular + 0.3;

/* Heading marge */
$margin--heading-1: 9px 0 4px 0;

/* Reset base on the header size */
$height-adapter: 60px;
