$colour-primary: #9256dc;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background: #f4f4f4;

$colour-light: #ffffff;

/* $font-text-regular: 'Roboto', sans-serif;
$font-text-secondary: 'Shrikhand', cursive; */
